@{
    ViewBag.Title = "dashboard";
}

<h2>dashboard</h2>

<script src="~/Scripts/app/IndexCtrl.js"></script>
<div ng-app="Index">
    <div ng-controller="IndexController">

        @if (Session["Username"] != null)
        {
            <h1>Welcome </h1>  <h2>@Session["Username"]</h2>
            <input type="button" data-ng-click="BackLogin()" value="Sign Out" />
        }
        else
        {
            Response.Redirect("/Home/CRUD");
        }

    </div>
</div>
